body {
  overflow-x: hidden;
}

pre code {
  border: none;
  display: block;
}

main {
  margin-top: 2em;
}

a {
  box-shadow: 0 1px 0 0 #116fa2;
  transition: box-shadow 0.1s ease-out;
}
a:hover {
  box-shadow: 0 3px 0 0 #116fa2;
}

.breadcrumbs {
  margin-bottom: 0;
}
.breadcrumbs a {
  box-shadow: none;
  transition: all 0.1s ease-in-out;
}
.breadcrumbs a:hover {
  box-shadow: 0 3px 0 0 #116fa2;
  text-decoration: none;
}
.breadcrumbs a:focus {
  border-color: #ffffff;
  box-shadow: 0 0 0 0.3077em #84bd00;
  color: #33430a;
  outline: none;
}
.breadcrumbs a:hover:focus {
  box-shadow: 0 -0.4615em 0 0 #84bd00;
}
.breadcrumbs a:active, .breadcrumbs a:active:hover {
  background-color: #eaf7c6;
  border-color: #ffffff;
  color: #33430a;
  transition-duration: 0.1s;
}

.button {
  transition: all 0.2s ease-out;
}
.button.small {
  padding: 0.3077em 0.6154em;
}
.button.small:hover {
  box-shadow: 0 0 0 0.0625em #ffffff, 0 0.2308em 0 0 #116fa2;
}
.button.small:focus {
  box-shadow: 0 0 0 0.0625em #ffffff, 0 0 0 0.1538em #84bd00;
  outline: none;
}
.button.small:hover:focus {
  box-shadow: 0 0 0 0.0625em #ffffff, 0 0.3846em 0 0 #84bd00;
}
.button.small:active {
  box-shadow: 0 0 0 0.0625em #84bd00, 0 0 0 0.1538em #84bd00;
  transition-duration: 0.05s;
}
.button.large {
  padding: 1em 1.5em;
}
.button:hover {
  background-color: #074567;
  box-shadow: inset 0 0 0 0.0625em #116fa2, inset 0 -0.1875em 0 0 #b6dffa;
}
.button:focus {
  background-color: #33430a;
  box-shadow: inset 0 0 0 0.0625em #587604, inset 0 0 0 0.1875em #cae778;
  outline: none;
}
.button:hover:focus {
  box-shadow: inset 0 0 0 0.0625em #587604, inset 0 -0.3125em 0 0 #cae778;
}
.button:active {
  background-color: #33430a;
  box-shadow: inset 0 0 0 0.1875em #587604, inset 0 0 0 0.3125em #cae778;
  transition-duration: 0.05s;
}
.button[disabled=disabled] {
  background-color: #cccccc;
  box-shadow: none;
  color: #b3b3b3;
  opacity: 1;
  outline: none;
}
.button[disabled=disabled]:hover, .button[disabled=disabled]:focus, .button[disabled=disabled]:focus:hover, .button[disabled=disabled]:active {
  background-color: #cccccc;
  box-shadow: none;
  color: #b3b3b3;
  opacity: 1;
  outline: none;
}
.button.hollow, .button.clear {
  font-weight: normal;
}
.button.hollow i, .button.clear i {
  font-size: 0.8125em;
  margin-right: 0.6153846154em;
}
.button.hollow {
  background-color: #ffffff;
}
.button.hollow.small:hover {
  box-shadow: 0 0 0 0.0625em #ffffff, 0 0.2308em 0 0 #116fa2;
}
.button.hollow.small:focus {
  box-shadow: 0 0 0 0.0625em #ffffff, 0 0 0 0.1538em #84bd00;
  outline: none;
}
.button.hollow.small:hover:focus {
  box-shadow: 0 0 0 0.0625em #ffffff, 0 0.3846em 0 0 #84bd00;
}
.button.hollow.small:active {
  box-shadow: 0 0 0 0.0625em #84bd00, 0 0 0 0.1538em #84bd00;
}
.button.hollow:hover {
  background-color: #ffffff;
  border-color: #074567;
  box-shadow: inset 0 0 0 0.0625em #ffffff, inset 0 -0.1875em 0 0 #116fa2;
  color: #074567;
}
.button.hollow:focus {
  background-color: #ffffff;
  border-color: #33430a;
  box-shadow: inset 0 0 0 0.0625em #ffffff, inset 0 0 0 0.1875em #84bd00;
  color: #33430a;
  outline: none;
}
.button.hollow:hover:focus {
  box-shadow: inset 0 0 0 0.0625em #ffffff, inset 0 -0.3125em 0 0 #84bd00;
}
.button.hollow:active {
  background-color: #ffffff;
  border-color: #33430a;
  box-shadow: inset 0 0 0 0.1875em #ffffff, inset 0 0 0 0.3125em #84bd00;
  color: #33430a;
}
.button.hollow[disabled=disabled] {
  border-color: #cccccc;
  box-shadow: none;
  color: #b3b3b3;
  opacity: 1;
  outline: none;
}
.button.hollow[disabled=disabled]:hover, .button.hollow[disabled=disabled]:focus, .button.hollow[disabled=disabled]:focus:hover, .button.hollow[disabled=disabled]:active {
  border-color: #cccccc;
  box-shadow: none;
  color: #b3b3b3;
  opacity: 1;
  outline: none;
}
.button.clear.small {
  border-radius: 1px;
}
.button.clear.small:hover {
  box-shadow: 0 0 0 0.0625em #ffffff, 0 0.2308em 0 0 #116fa2;
}
.button.clear.small:focus {
  box-shadow: 0 0 0 0.0625em #ffffff, 0 0 0 0.1538em #84bd00;
  outline: none;
}
.button.clear.small:hover:focus {
  box-shadow: 0 0 0 0.0625em #ffffff, 0 0.3846em 0 0 #84bd00;
}
.button.clear.small:active {
  box-shadow: 0 0 0 0.0625em #84bd00, 0 0 0 0.1538em #84bd00;
}
.button.clear:hover {
  background-color: #ffffff;
  border-color: #ffffff;
  box-shadow: inset 0 0 0 0.0625em #ffffff, inset 0 -0.1875em 0 0 #116fa2;
  color: #074567;
}
.button.clear:focus {
  background-color: #ffffff;
  border-color: #ffffff;
  box-shadow: inset 0 0 0 0.0625em #ffffff, inset 0 0 0 0.1875em #84bd00;
  color: #33430a;
  outline: none;
}
.button.clear:hover:focus {
  box-shadow: inset 0 0 0 0.0625em #ffffff, inset 0 -0.3125em 0 0 #84bd00;
}
.button.clear:active {
  background-color: #ffffff;
  border-color: #ffffff;
  box-shadow: inset 0 0 0 0.1875em #ffffff, inset 0 0 0 0.3125em #84bd00;
  color: #33430a;
}
.button.clear[disabled=disabled] {
  background-color: transparent;
  box-shadow: none;
  color: #b3b3b3;
  opacity: 1;
  outline: none;
}
.button.clear[disabled=disabled]:hover, .button.clear[disabled=disabled]:focus, .button.clear[disabled=disabled]:focus:hover, .button.clear[disabled=disabled]:active {
  background-color: transparent;
  box-shadow: none;
  color: #b3b3b3;
  opacity: 1;
  outline: none;
}
.button.clear.dark {
  border-color: transparent;
  color: #e8f4fc;
}
.button.clear.dark.small {
  border-radius: 1px;
}
.button.clear.dark.small:hover {
  box-shadow: 0 0 0 0.0625em #000000, 0 0.2308em 0 0 #b6dffa;
}
.button.clear.dark.small:focus {
  box-shadow: 0 0 0 0.0625em #000000, 0 0 0 0.1538em #cae778;
  outline: none;
}
.button.clear.dark.small:hover:focus {
  box-shadow: 0 0 0 0.0625em #000000, 0 0.3846em 0 0 #cae778;
}
.button.clear.dark.small:active {
  box-shadow: 0 0 0 0.0625em #cae778, 0 0 0 0.1538em #cae778;
  outline: none;
}
.button.clear.dark:hover {
  background-color: #000000;
  box-shadow: inset 0 0 0 0.0625em #000000, inset 0 -0.1875em 0 0 #b6dffa;
}
.button.clear.dark:focus {
  background-color: #000000;
  box-shadow: inset 0 0 0 0.0625em #000000, inset 0 0 0 0.1875em #cae778;
  color: #cae778;
  outline: none;
}
.button.clear.dark:hover:focus {
  box-shadow: inset 0 0 0 0.0625em #000000, inset 0 -0.3125em 0 0 #cae778;
}
.button.clear.dark:active {
  background-color: #000000;
  box-shadow: inset 0 0 0 0.1875em #000000, inset 0 0 0 0.3125em #cae778;
  color: #cae778;
}
.button.clear.dark[disabled=disabled] {
  background-color: transparent;
  box-shadow: none;
  color: #b3b3b3;
  opacity: 1;
  outline: none;
}
.button.clear.dark[disabled=disabled]:hover, .button.clear.dark[disabled=disabled]:focus, .button.clear.dark[disabled=disabled]:focus:hover, .button.clear.dark[disabled=disabled]:active {
  background-color: transparent;
  box-shadow: none;
  color: #b3b3b3;
  opacity: 1;
  outline: none;
}

h2 {
  margin: 0.888em 0 0.296em 0;
}

h3 {
  margin: 1em 0 0.25em 0;
}

.lead {
  font-weight: 300;
  margin-bottom: 1em;
}

.progress-column {
  background-color: #ffffff;
}

.progress-component {
  background-color: #ffffff;
  padding: 1em;
}
.progress-component.min {
  position: fixed;
  top: 0;
  height: 100vh;
  overflow: hidden;
}

.progressbar {
  font-size: 13px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: right;
  overflow-y: scroll;
}
.progressbar a {
  align-items: center;
  box-shadow: none;
  display: flex;
  justify-content: flex-end;
  padding: 0.35em 5.5em 0.35em 0;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.progressbar a span {
  transition: all 0.2s ease-in-out;
  line-height: 1.5;
}
.progressbar a .progress-icon {
  color: #ffffff;
  position: relative;
  margin: -0.35rem 1.9rem 0 -1.9rem;
  z-index: 10;
}
.progressbar a .svg-icon {
  width: 0.67em;
  height: 0.67em;
}
.progressbar a:hover {
  background-color: #e8f4fc;
  color: #074567;
}
.progressbar a:hover span {
  box-shadow: 0 3px 0 0 #116fa2;
}
.progressbar a:hover:after {
  box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px #116fa2;
}
.progressbar a:focus {
  outline: none;
  color: #33430a;
  background-color: #eaf7c6;
}
.progressbar a:focus span {
  box-shadow: 0 3px 0 0 #84bd00;
}
.progressbar a:focus:after {
  box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px #84bd00;
}
.progressbar a:focus:hover span {
  box-shadow: 0 5px 0 0 #84bd00;
}
.progressbar a:focus:hover:after {
  box-shadow: 0 0 0 1px #ffffff, 0 0 0 5px #84bd00;
}
.progressbar a:active span {
  box-shadow: inset 0 0 0 5px #84bd00;
}
.progressbar a:active:after {
  box-shadow: 0 0 0 2px #84bd00;
}
.progressbar a:after {
  background-color: #116fa2;
  border-radius: 8px;
  color: #ffffff;
  content: " ";
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  font-size: 9px;
  width: 16px;
  height: 16px;
  position: absolute;
  right: 42px;
  text-align: center;
  transition: all 0.2s ease-in-out;
}
.progressbar a:before {
  background-color: #116fa2;
  content: " ";
  width: 4px;
  height: 100%;
  position: absolute;
  right: 48px;
  top: 0;
}
.progressbar a.main {
  padding: 1em 5.5em 1em 0;
}
.progressbar a.main .progress-icon {
  margin: -0.05rem 2rem 0 -2rem;
}
.progressbar a.main .svg-icon {
  width: 0.875em;
  height: 0.875em;
}
.progressbar a.main:after {
  border-radius: 12px;
  font-size: 13px;
  height: 24px;
  width: 24px;
  right: 38px;
}
.progressbar a.error:after {
  background-color: #ab362b;
  box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px #ab362b;
}
.progressbar a.error:before {
  background-color: #ab362b;
}
.progressbar a.error:hover:after {
  box-shadow: 0 0 0 1px #ffffff, 0 0 0 5px #116fa2;
}
.progressbar a.error:focus:after {
  box-shadow: 0 0 0 1px #ffffff, 0 0 0 4px #84bd00;
}
.progressbar a.error:focus:hover:after {
  box-shadow: 0 0 0 1px #ffffff, 0 0 0 5px #84bd00;
}
.progressbar a.warning:after {
  background-color: #d9b43b;
  box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px #d9b43b;
}
.progressbar a.warning:before {
  background-color: #d9b43b;
}
.progressbar a.warning:hover:after {
  box-shadow: 0 0 0 1px #ffffff, 0 0 0 5px #116fa2;
}
.progressbar a.warning:focus:after {
  box-shadow: 0 0 0 1px #ffffff, 0 0 0 4px #84bd00;
}
.progressbar a.warning:focus:hover:after {
  box-shadow: 0 0 0 1px #ffffff, 0 0 0 5px #84bd00;
}
.progressbar a.success:after {
  background-color: #84bd00;
  box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px #84bd00;
}
.progressbar a.success:before {
  background-color: #84bd00;
}
.progressbar a.success:hover:after {
  box-shadow: 0 0 0 1px #ffffff, 0 0 0 5px #116fa2;
}
.progressbar a.success:focus:after {
  box-shadow: 0 0 0 1px #ffffff, 0 0 0 4px #84bd00;
}
.progressbar a.success:focus:hover:after {
  box-shadow: 0 0 0 1px #ffffff, 0 0 0 5px #84bd00;
}
.progressbar a.disable {
  color: #b3b3b3;
}
.progressbar a.disable:after {
  background-color: #b3b3b3;
  box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px #b3b3b3;
}
.progressbar a.disable:before {
  background-color: #b3b3b3;
}
.progressbar a.disable:hover {
  background-color: #f2f2f2;
}
.progressbar a.disable:hover span {
  box-shadow: none;
}
.progressbar a.disable:focus:after {
  box-shadow: 0 0 0 1px #ffffff, 0 0 0 4px #4d4d4d;
}
.progressbar a.disable:focus:hover:after {
  box-shadow: 0 0 0 1px #ffffff, 0 0 0 5px #4d4d4d;
}
.progressbar.left {
  font-size: 16px;
  text-align: left;
}
.progressbar.left a {
  justify-content: flex-start;
  padding: 0.25em 0 0.25em 4em;
  text-indent: -1.28em;
}
.progressbar.left a:after {
  left: 10px;
  text-indent: 0.02em;
}
.progressbar.left a:before {
  left: 16px;
}
.progressbar.left a.main {
  padding: 1em 0 1em 4em;
}
.progressbar.left a.main:after {
  left: 6px;
  text-indent: 0.02em;
}

.meta {
  border-bottom: 1px dashed #b3b3b3;
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
  transition: all 0.2s ease-in-out;
}
.meta .title {
  font-size: 1.4375em;
  font-weight: 300;
  margin-bottom: 0.5em;
  overflow-x: scroll;
}
.meta .title .button {
  display: block;
  margin-left: 2px;
}
.meta ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.meta .control-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}
.meta .control-panel .svg-icon {
  height: 1.2em;
  width: 1.2em;
}
.meta .control-panel button {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0;
}
.meta .control-panel button span {
  display: block;
  margin-top: 0.5em;
}
.meta .control-panel i {
  font-size: 1em;
  margin: 0 0 0.3077em 0;
}
.meta .meta-data {
  font-size: 0.8125em;
  margin-bottom: 1.5em;
}
.meta .meta-data > li {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}
.meta .meta-data span:first-child {
  font-weight: bold;
  margin-right: 1em;
}
.meta.min .title {
  display: none;
}
.meta.min .meta-data {
  display: none;
}

a:hover {
  background-color: #FFEFBA;
}