.edit-layers {
  font-size: 13px;
  margin: 0 0 24px 0;
  padding: 0;
  list-style-type: none;
}

.edit-layers li:first-child {
  border-bottom: 1px solid get-color( gray--010 );
  font-weight: bold;
  padding-top: 0;
}

.edit-row {
  align-items: center;
  box-shadow: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 4px 12px;
  transition: all .2s ease-in-out;
}

a.edit-row:hover {
  background-color: get-color( blue--300 );
  box-shadow: inset 0 -3px 0 0 get-color( blue--600 );
  color: get-color( gray--090 );
}

a.edit-row:focus {
  background-color: get-color( gray--005 );
  box-shadow: inset 0 -3px 0 0 get-color( green--500 );
  color: get-color( gray--090 );
  outline: none;
}

a.edit-row:focus:hover {
  background-color: get-color( gray--005 );
  box-shadow: inset 0 -5px 0 0 get-color( green--500 );
  color: get-color( gray--090 );
  outline: none;
}

.edit-row > *:first-child {
  flex: 1 0 15px;
  margin-right: 24px;
  max-width: 15px;
  text-align: center;
  justify-content: center;
}

.edit-row > *:nth-child(2) {
  flex: 1 0 100px;
  max-width: 75px;
}

.edit-row > *:nth-child(3) {
  color: get-color( gray--070 );
}

.control-panel > * {
  margin-bottom: 0;
}

// specifics
.fa-check-circle {
  color: get-color( green--500 );
}

.fa-exclamation-triangle {
  color: get-color( red--600 );
}