<div>
  <label for="text2" aria-label="Obligatorisk fält. Min andra etikett">{{ myFieldData.label }}<span class="required">Obligatorisk</span></label>
  <div class="helptext">
    <p>Here is some important information that will give you necessary context to successfully fill out this field.</p>
  </div>
  <input type="text" id="text2" />
</div>